*.exe
*.out
*.app
*.o
*.obj
*.ilk
*.pdb
*.ipdb
*.iobj
*.exp
*.lib
*.dll

*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
*.sdf
*.opensdf
*.vcxproj.FileListAbsolute.txt

[Bb]uild/
[Bb]uild*/
[Oo]bj/
[Oo]bj*/
[Bb]in/
[Bb]in*/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Oo]utput/

*.cache
*.log
*.tlog
*.idb
*.pch
*.aps
*.ncb
*.opt
*.plg

packages/
[Nn]u[Gg]et/

*~
*.backup
*.bak

Thumbs.db
.DS_Store